<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
  </head>
  <body>
    <% const test = "test!!!" %>
    <h1>The Home Page <%= test %></h1>
    <p>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolores ducimus
      possimus dignissimos aperiam iusto porro eum dolor, est culpa eaque
      voluptate accusantium quidem nesciunt magni dolorum mollitia recusandae
      libero explicabo.
    </p>
  </body>
</html>
